body .slide-up {
    overflow: hidden;
    max-height: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0!important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
body .slide-up.fade {
    opacity: 0 !important;
}
body .slide-down {
    -moz-transition-duration: 3s;
    -webkit-transition-duration: 3s;
    -o-transition-duration: 3s;
    transition-duration: 3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    max-height: 10000px;
    overflow: hidden;
}
body .slide-down.fade {
    opacity: 1 !important;
}